{% extends "base.html" %}
    {% block title %}Login{% endblock %}

      {% block content %}
    <br>
    <form method="POST">
    <h3 id="subtitles">Log In</h3>
        <br>
        <div class="form-group">
        <div class="login_window_div">
            <label class="login_labels" id="email" for="email">E-mail</label>
            <br>
            <input type="text" class="login_input" name="email" placeholder="E-mail"/>
            <br>
            <br>
            <label class="login_labels" id="password" for="password">Password</label>
            <br>
            <input type="password" class="login_input" name="password" placeholder="Password"/>

            <button class="submit_button" type="submit">LogIn</button>
        </div>
    </form>
 </div>

      {% endblock %}
